{% extends 'blocks/form_page_base.html' %}


{% block form_action %}/reset_password/send_reset_email/{% endblock form_action %}
{% block form_title %}Send Password Reset Email{% endblock form_title %}

{% block form_content %}
<div class="mb-4 form-outline">
    <input id="register_email" class="form-control" type="email" name="email" value="{% if form_data and 'email' in form_data %}{{ form_data['email'] }}{% endif %}">
    <label class="form-label" for="register_email">Email</label>
</div>
{% endblock form_content %}


<!-- Hide the text at the side. -->
{% block page_info %}{% endblock page_info %}
{% block page_info_container %}{% endblock page_info_container %}