{% extends 'blocks/form_page_base.html' %}


{% block form_action %}/reset_password/process_reset/{% endblock form_action %}
{% block form_title %}Reset Password{% endblock form_title %}

{% block form_content %}
<input type="number" name="user_id" value="{{ user_id }}" hidden>
<input type="text" name="reset_code" value="{{ reset_code }}" hidden>
<div class="mb-4 form-outline">
    <input id="password" class="form-control" type="password" name="password">
    <label class="form-label" for="register_password">New Password</label>
</div>
<div class="mb-4 form-outline">
    <input id="confirm_password" class="form-control" type="password" name="confirm_password">
    <label class="form-label" for="register_confirm_password">Confirm password</label>
</div>
{% endblock form_content %}


<!-- Hide the text at the side. -->
{% block page_info %}{% endblock page_info %}
{% block page_info_container %}{% endblock page_info_container %}