{% extends 'email_html/email_base.html' %}



{% block header_text %}Reset Your Password{% endblock header_text %}

{% block body %}
<div class="mb-2">
    <p>Hello, {{ first_name }}</p>
    <p>We just received a request to reset your password. Please click the button below to be directed to our password reset page.</p>
    <p>If you did not request a password reset, feel free to ignore this email.</p>
</div>
<div class="h-center">
    <a class="btn" href="{{ password_reset_url }}">Reset Password</a>
</div>
{% endblock body %}
